*.class
*.log

.idea/

.bsp/
/project/target/

/target/
/autoscaler/src/main/scala/terraform/providers/yandex/

.DS_Store
/hcl_generator/target/
/autoscaler/target/
/hcl_generator/src/main/scala/terraform/providers/yandex/
/hcl_generator/src/main/scala/terraform/providers/aws/
.env
terraformOutput.tf
/.terraform/

id_rsa.pub

.terraform.lock.hcl
/terraform.tfstate
/terraform1.tfstate.json

.terraform.tfstate.lock.info
/terraform.tfstate.backup
/terraform1.tfstate.json

id_rsa

cluster.tf
